h2{
  padding: 10px;
  margin: 30px;
}

.form{
  padding: 10px;
  margin: 30px;
  input{
    width: 40%;
    padding: 8px;
    border-radius: 8px;
  }
  button{
    margin-top: 20px;
    padding: 6px;
    width: 140px;
    margin-left: 29%;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 6px;
  }
}


